<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>multer 사용</title>
    <style>
      form {
        border: 2px solid #ccc;
        padding: 1rem;
      }
    </style>
  </head>
  <body>
    <h1>multer 사용해보기</h1>
    <h2>파일 한 개 업로드</h2>
    <form action="upload" method="post" enctype="multipart/form-data">
      <input type="file" name="userfile" />
      <br />
      <input type="text" name="title" placeholder="사진제목" />
      <br />
      <br />
      <button type="submit">업로드</button>
    </form>

    <h2>하나의 input에 파일 여러개 업로드</h2>
    <form action="/uploads/array" method="post" enctype="multipart/form-data">
      <input type="file" name="mulifiles" multiple />
      <br />
      <input type="text" name="title" placeholder="사진제목" />
      <br />
      <button>업로드</button>
    </form>
  </body>
</html>
