<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>multer 사용</title>
    <!-- axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      form {
        border: 2px solid #ccc;
        padding: 1rem;
      }
    </style>
  </head>
  <body>
    <h1>multer 사용해보기</h1>
    <h2>파일 한 개 업로드</h2>
    <form action="upload" method="post" enctype="multipart/form-data">
      <input type="file" name="userfile" />
      <br />
      <input type="text" name="title" placeholder="사진제목" />
      <br />
      <br />
      <button type="submit">업로드</button>
    </form>

    <h2>하나의 input에 파일 여러개 업로드</h2>
    <form action="/uploads/array" method="post" enctype="multipart/form-data">
      <input type="file" name="mulifiles" multiple />
      <br />
      <input type="text" name="title" placeholder="사진제목" />
      <br />
      <button>업로드</button>
    </form>

    <h2>여러개 input에 파일 업로드</h2>
    <form action="/uploads/fields" method="post" enctype="multipart/form-data">
      <input type="file" name="file1" /><br />
      <input type="text" name="title1" placeholder="사진제목1" />

      <br /><br />
      <input type="file" name="file2" /><br />
      <input type="text" name="title2" placeholder="사진제목2" />

      <br /><br />
      <input type="file" name="file3" /><br />
      <input type="text" name="title3" placeholder="사진제목3" />

      <br /><br />
      <button>업로드</button>

      <br /><br />
    </form>

    <hr />
    <h2>동적 파일 업로드</h2>
    <div class="dynamic">
      <input type="file" name="dynamicFile" id="dynamicFile" />
      <br />
      <input
        type="text"
        name="dynamicTitle"
        id="dynamicTitle"
        placeholder="프로필 설명"
      />
      <button onclick="fileUpload()">프로필 업로드</button>
      <button onclick="fileAndTextUpload()">프로필 업로드(with title)</button>
    </div>

    <img
      src="/static/default.jpg"
      alt="기본 프로필 이미지"
      width="200"
      height="200"
    />
    <div class="tit"></div>
    <script>
      function fileUpload() {
        const file = document.getElementById("dynamicFile");
        console.dir(file);
        console.log(file.files[0]);

        const formData = new FormData(); //JS 기본 제공 class
        //파일을 페이지 전환없이 비동기로 제출하고 싶을때 사용
        formData.append("dynamicFile", file.files[0]);

        axios({
          method: "post",
          url: "/dynamicUpload",
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data",
          },
        }).then((res) => {
          console.log(res.data);
          console.log(res.data.path);
          console.log(res.data.originame);
          const img = document.querySelector("img");
          img.src = `/${res.data.path}`;
        });
      }
      function fileAndTextUpload() {
        const formData = new FormData();
        // input[type="file"], 파일 정보를 서버로 보내기 위해 선택
        const file = document.getElementById("dynamicFile");
        // input[type="text"],
        // 이미지에 대한 제목, 즉, 글자 정보를 서버로 보내기 위해 선택
        const title = document.getElementById("dynamicText");
        // img 태그
        // 사진의 src, alt 속성을 바꾸기 위해서 선택
        const img = document.querySelector("img");

        console.log(file.files);

        formData.append("dynamicFile", file.files[0]);
        formData.append("dynamicTitle", title.value);

        /* 
        formData = {
          dynamicFile: 파일정보(fileList[0])
          dynamicTitle: "사진 제목 string"
        }
        */

        axios({
          method: "post",
          url: "/dynamicUpload",
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data",
          },
        }).then((res) => {
          console.log(res.data);
        });
      }
    </script>
  </body>
</html>
