<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>댓글상세페이지</title>
  </head>
  <body>
    <h1><%=commentInfos.userid%>님의 댓글입니다.</h1>
    <a href="/comments">댓글 목록 보기</a>
    <p>작성일 : <%=commentInfos.date%></p>
    <p>댓글내용 : <%=commentInfos.comment%></p>
  </body>
</html>
