<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      label {
        display: flex;
      }

      label span {
        width: 90px;
      }
      /* 로그인시에 성공과 실패에 보여줄 클래스 */
      .success {
        color: blue;
        font-size: 1.2rem;
        font-weight: 700;
      }
      .error {
        color: red;
        font-size: 1.2rem;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <form name="login">
      <label>
        <span>아이디</span>
        <input type="text" name="userId" required />
      </label>
      <label>
        <span>비밀번호</span>
        <input type="password" name="userPw" required />
      </label>

      <br />
      <button type="button" onclick="clickLogIn()">로그인1</button>
      <button type="button" onclick="clickLogIn2()">로그인2</button>
    </form>

    <div class="result"></div>

    <script>
      const result = document.querySelector(".result");
      function clickLogIn() {
        const form = document.forms["login"];

        const data = {
          // form.userId -> 태그를 가져옴(input에 name값으로 태그를 불러옴)
          //  form. userId.value -> value 속성으로 가져옴
          userId: form.userId.value,
          userPw: form.userPw.value,
        };

        if (!form.userId.checkValidity() || !form.userPw.checkValidity()) {
          result.textContent = "아이디와 비밀번호는 필수값입니다!! -ㅅ-";
          return;
        }

        axios({
          method: "post",
          url: "/login",
          data: data,
        })
          .then((response) => {
            console.log(response);
            console.log(response.data);
            if (response.data.isSuccess) {
              result.textContent = "로그인 성공";
              result.classList.add("success");
              result.classList.remove("error");
            } else {
              result.textContent = "로그인 실패";
              result.classList.add("error");
              result.classList.remove("success");
            }
          })
          .catch((err) => {
            console.error("err", err);
          });
      }
      async function clickLogIn2() {
        const form = document.forms["login"];
        const data = {
          // form.userId -> 태그를 가져옴(input에 name값으로 태그를 불러옴)
          //  form. userId.value -> value 속성으로 가져옴
          userId: form.userId.value,
          userPw: form.userPw.value,
        };
        try {
          const response = await axios({
            method: "post",
            url: "/login2",
            data: data,
          });
          if (response.data.isSuccess) {
            result.textContent = `${response.data.userName}님 환영합니다!! 로그인 성공`;
            result.classList.add("success");
            result.classList.remove("error");
          } else {
            result.textContent = "아이디 또는 비밀번호를 다시 입력해주세요.";
            result.classList.add("error");
            result.classList.remove("success");
          }
        } catch (err) {
          console.error("err", err);
        }
      }
    </script>
  </body>
</html>
