body{
    margin: 0;
    padding: 0;
    height: 2000px;
    background: linear-gradient(white, yellow);
}

div{
    width: 100px;
    height: 100px;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
}
.position-static{
    background-color: pink;
    /* posotion statix이 기본값 */
    position: static;
    top: 100px;
    left: 100px;
    /* 이동 불가능함!top,buttom,left, right속성 영향 안받음 */
}
.position-relative{
    background-color: aquamarine;
    /* postion relative 기준은 자기 자신 */
    /* 자신의 자리 남아있음, 문서흐름 해치지 않음 */
    position: relative;
    left: 100px;
    /* top: 100px; */
}
.position-absolute{
    background-color: gold;
    position: absolute;
    right: 100px;
    top: 100px;
}
.position-fixed{
    background-color: coral;
    position: fixed;
    top: 100px;
    right: 200px;
    /* 스크롤을 내려도 따라다님 */
}
.absolute2{
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 10px;
    background-color: cadetblue;
    top: 0;
    bottom: 0;
}
.parent{
    position: relative;
    width: 300px;
    border: 3px dotted dodgerblue;
}
.parent > .circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
}
.circle1{
    background-color: #9afaff;
    left: 200px;
}
.circle2{
    background-color: #84ff8d;
    left: 150px;
}
.circle3{
    background-color: #ffeb88;
    left: 100px;
    z-index: 10;
}
.circle4{
    background-color: #ffb680;
    left: 50px;
    z-index: 5;
}
.circle5{
    background-color: #ff7c7c;
    left: 0px;
}
/* static에는 z-index 적용 안됨 */