.container{
    max-width: 1000px;
    height: 400px;
    margin: 0 auto;
    background-color: #333;
    display: flex;
    /* flexbox 기본용어 
    - 주축 : main acis
       - 주축의 기본 방향 좌->우
    - 교차축 cross axis
       - 교차축의 기본방향*/

    /* 1. flex-direction: 주축방향설정
    - row(default): 좌->우
    - row-reverse : 우->좌
    - c-lumn :위->아래
    - column-reverse : 아래-> 위*/
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    
    /* 2. flex-wrap:줄바꿈 설정 
    -no wrap (default)
    -wrap*/
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */

}

.container>.items{
    
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
}
.container>.items.item1{
    background-color: red;
}
.container>.items.item2{
    background-color: orange;
}
.container>.items.item3{
    background-color: yellow;
}
.container>.items.item4{
    background-color: green;
}
.container>.items.item5{
    background-color: blue;
}