.box{
    display: inline-block;
    width: 400px;
    height: 800px;
    border: 1px solid black;

}
.background{
    background-color: aquamarine;
    background: pink;
    /*background 단축 속성 순서: color image repeat position size */
    background: linear-gradient(grey, pink);
}
.background-image{
    background-image: url(./img/small_img.png);
    /* 1.; background-repeat */
    background-repeat: repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;
    /* 2. background-position */
    background-position: top left;
    background-position: center;
    background-position: top center;
    background-position: 100px;
    background-position: 10px 100px;  /* x축 y축 순서 */
    /* 3. background-size */
    background-size: auto;
    /* 사이즈를 하나만 쓰면 가로너비 설정되고, 세로는 비율에 맞춰 자동 설정 */
    background-size: 100px 200px; /* x축 y축 순서 */
    background-size: 100px;
    background-size: contain;
    background-size: cover;
    /* 4. background attachment */
    background-attachment: scroll;
    background-attachment: fixed;


}
body{
    height: 1000px;
}