<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mvs-mysql</title>
  </head>
  <body>
    <H1>MVC패턴과 MYSQL연결</H1>
    <a href="/visitors">방명록 남기기</a>
  </body>
</html>
