div{background-color: orange;width: auto;height: 200px;
    
}
.square{display: inline-block; width: 200px; height: 100px; align-items: ;
}
#red{background-color: red;margin-right: 30px;}
#blue{background-color: blue;margin-right: 30px;
    
   }
#green{background-color: green;margin-right: 30px;}